
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    #020617,
    #0f172a,
    #1e293b
  );
}


.login-box {
  width: 360px;
  padding: 35px;
  border-radius: 18px;
  text-align: center;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
}


.login-box h1 {
  color: #ffffff;
  margin-bottom: 25px;
  font-size: 32px;
}


.login-box input {
  width: 90%;
  padding: 12px 15px;
  margin: 12px 0;

  background: rgba(255, 255, 255, 0.1);
  color: white;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;

  font-size: 15px;
  outline: none;

  transition: 0.3s ease;
}


.login-box input::placeholder {
  color: #d1d5db;
}


.login-box input:focus {
  border-color: #38bdf8;
  box-shadow: 0 0 12px rgba(56, 189, 248, 0.6);
}


.login-box button {
  width: 100%;
  padding: 12px;
  margin-top: 18px;

  background: #0f172a;
  color: white;

  border: 1px solid #38bdf8;
  border-radius: 10px;

  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;
}


.login-box button:hover {
  background: #38bdf8;
  color: #0f172a;
  transform: translateY(-3px);
}


.login-box p {
  color: #cbd5e1;
  margin-bottom: 20px;
}